<p>Hey There!</p>
<p>
  Congrats!  <b>A comment has been added on Deploying Ruby on Rails Application </b>.
  Check it out <%= link_to 'here', lesson_url(@lesson) %>.
</p>

Saroar
<br />
<b>RoR Club<b>