<p>Hey There!</p>
<p>
  Congrats!  <b>A comment has been added on Deploying Ruby on Rails Application </b>.
  Check it out <%= link_to 'here', comment_url(@comment) %>.

</p>

Saroar
<br />
<b>RoR Club<b>